.formContainer { 
    
  padding: 2.5rem 15rem;
  background: #e6f7ff; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease;
}

.contactForm {
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  

}
.name{
  width: 100%;
  display: flex;
  gap: 4rem;
  flex: 1;
  justify-content: space-between;
  
}
.name .formGroup{
  width: 50%;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px; /* Softer corners */
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formGroup input:focus,
.formGroup textarea:focus {
  border-color: rgb(3, 224, 253);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  outline: none;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.submitButton {
  
  width: 25%;
  padding: 0.75rem;
  background-color:  #003366;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  margin: 0 auto; 
  display: block;
}

.submitButton:hover {
  background-color: rgb(1, 175, 202);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); 
}


@media (max-width: 768px) {
  .formContainer {
      padding: 1.5rem;
  }

  .submitButton {
      font-size: 1rem;
      padding: 0.7rem;
  }
}

@media (max-width: 480px) {
  .formContainer {
      padding: 1rem;
  }

  .submitButton {
      font-size: 0.9rem;
      padding: 0.6rem;
  }
}
